/* Вариативный Inter (все веса 100–900) */
@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

/* Вариативный Inter Italic */
@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter-Italic-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}
